/* GALLARY.HTML Styles */

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.gallery-container img {
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 9px rgba(16, 0, 0, 0.042);
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.gallery-container img:hover {
    filter: grayscale(1);
    transform: scale(1.03);
}
