/* HOME.HTML Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 1000px;
    background-image: none;
}

h1 {
    color: blue;
}

.container {
    background-image: linear-gradient;
    height: 700px;
    width: 100%;
}

.box {
    background-color: rgba(0, 0, 0, 0.726);
    height: 70px;
}

menu {
    width: 70%;
}

img {
    float: left;
}

menu ul li {
    display: inline;
    padding-top: 30px;
}

menu ul li a {
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

ul {
    float: right;
}

menu ul li a:hover {
    color: green;
    border-bottom: solid 1px green;
    padding-top: 15px;
}

.main {
    text-align: center;
    width: 70%;
    color: white;
    margin-top: 10%;
    background-color: rgba(9, 0, 0, 0.596);
    border-radius: 15px;
    height: 400px;
    width: 800px;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.main a {
    line-height: 23px;
    width: 50px;
    font-size: 17px;
}

button {
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: dodgerblue;
    color: white;
    font-size: 17px;
    border: none;
    outline: none;
}

button:hover {
    background-color: green;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.center .btns {
    /* Add styles as needed */
}
