/* SERVICES.HTML Styles */

/*---services----*/
.service-content h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 2em;
    margin: 0;
    text-transform: uppercase;
    color: #454545;
}

.service-content ul li {
    display: block;
}

.service-content ul li span {
    width: 5%;
    float: left;
    font-size: 3em;
    color: #454545;
    font-family: 'PT Sans Narrow', sans-serif;
}

.service-content ul li p {
    font-family: Arial, Helvetica, sans-serif;
    color: #6a6a6a;
    font-size: 0.875em;
    padding: 5px 0 10px 0;
    line-height: 1.8em;
}

.service-content ul li p a {
    font-size: 1.2em;
    color: #454545;
    font-family: 'PT Sans Narrow', sans-serif;
    display: block;
}

.service-content {
    float: left;
    width: 74.5%;
}

.service-content ul {
    padding-bottom: 5px;
}

.services-sidebar {
    float: right;
    width: 23%;
}

.services-sidebar h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 2em;
    margin: 0;
    text-transform: uppercase;
    color: #454545;
}

.services-sidebar ul li a {
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1em;
    color: #454545;
    padding: 2px 0px 5px 0px;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.services-sidebar ul li a:hover {
    color: #71D6EA;
}

.services-sidebar ul li {
    border-bottom: 1px dashed rgba(192, 192, 192, 0.33);
    background: url(../images/marker.png) 0 15px no-repeat;
    padding: 9px 13px 8px 23px;
}
